---
Name: perfect_cms_images_custom
---
PerfectCMSImageDataExtension:
  perfect_cms_images_append_title_to_image_links_classes:
    - Image
  perfect_cms_images_background_padding_color: "#ffffff"
  perfect_cms_images_image_definitions:
    nameBAR:
      width: 100
      height: 100
      enforce_size: false
      folder: my-image-folder-a
      filetype: "jpg or a png with a transparant background"
      use_retina: true
      padding_bg_colour: '#dddddd'
      crop: true
    nameFOO:
      width: 100
      height: 0
      enforce_size: true
      folder: my-image-folder-b
      filetype: "jpg or a png, no transparency is required"
      use_retina: false
      padding_bg_colour: '#000000'
  nameFOOBAR:
    width: 200
    height: 200
    enforce_size: false
    folder: my-image-folder-a
    filetype: "jpg or a png with a transparant background"
    use_retina: true
    padding_bg_colour: '#dddddd'
    crop: false
