---
Name: perfect_cms_images_custom
---

Sunnysideup\PerfectCmsImages\Api\PerfectCMSImages:
  perfect_cms_images_append_title_to_image_links_classes:
    - SilverStripe\Assets\Image
  perfect_cms_images_background_padding_color: "#ffffff"
  perfect_cms_images_image_definitions:
    nameBAR:
      width: 100 # recommended width
      height: 100 # recommended height
      enforce_size: false # allow user to upload a different picture
      folder: my-image-folder-a # where to save the images
      filetype: "jpg or a png with a transparant background" # the filetype you recommend
      use_retina: true # double the size.
      padding_bg_colour: '#dddddd'
      crop: true # when the image is not to the right size, allow cropping
      pad: false # when the image is not to the right size, allow padding
      move_to_right_folder: true
      loading_style: 'eager' # default is lazy
      force_third_party_resize: false
      used_by:
        - Page.Logo
        - Vendor\App\Pages\MyPage.OtherLogo
    nameFOO:
      width: 100
      height: 0
      enforce_size: true
      folder: my-image-folder-b
      filetype: "jpg or a png, no transparency is required"
      use_retina: false
      padding_bg_colour: '#000000'
      move_to_right_folder: false
      loading_style: 'lazy'
      force_third_party_resize: true
      used_by:
        - SilverStripe\Model\DataObject.Image

    nameFOOBAR:
      width: 200
      height: 200
      enforce_size: false
      folder: my-image-folder-a
      filetype: "jpg or a png with a transparant background"
      use_retina: true
      padding_bg_colour: '#dddddd'
      crop: false
      move_to_right_folder: true
      loading_style: 'lazy'
      force_third_party_resize: true

# FULL LIST:
Sunnysideup\PerfectCmsImages\Api\PerfectCMSImages:
  perfect_cms_images_image_definitions:
    nameFOOBAR:
      width: 3200
      height: 3200
      max_mb: 0.4
      folder: "myfolder"
      filetype: "try jpg"
      enforce_size: false
      skip_auto_resize: false
      skip_auto_convert: false
      folder: my-image-folder-a
      filetype: "jpg or a png with a transparant background"
      use_retina: true
      padding_bg_colour: '#dddddd'
      crop: true
      move_to_right_folder: true
      loading_style: 'eager'
      used_by:
        MyClass.MyHasOne
        MyOtherClass.MyHasManyMethod
        MyOtherClass.MyManyManyRel

# also consider
Sunnysideup\ScaledUploads\Api\Resizer:
  max_width: 960            # Maximum width - s
  max_height: 800           # Maximum height - default 800
  max_size_in_mb: 0.5       # The maximum size of the image in MB
  default_quality: 0.9      # The default quality of the image conversion (0-1)
  bypass: false             # Bypass (skip) this plugin when uploading - default false
  force_resampling: false   # Force re-saving the image even if it is smaller - default false
  patterns_to_skip:         # Patterns to skip (eg: *.svg)
    - '.svg'                # this is not necessary as SVGs are not resized
    - '__resampled'         # find in string
    - '/[^a-zA-Z0-9]/'      # supports basic regex
  custom_folders:
    Gallery:                # Custom upload folder and configuration
      maxWidth: 1600
      maxHeight: 1200
      useWebp: false
      quality: 55
      forceResampling: true
      maxSizeInMb: 0.1
    My/Other/Folder:         # Custom upload folder and configuration
      bypass: true
